body {
  text-align: center;
  height: 100vh;
  font-weight: bold;
  background-color: #aeaaaa;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.color-el {
  font-size: 1.5rem;
  text-shadow: 0 1px 1px rgb(0, 0, 0, 0.5);
}

.score-el {
  font-size: 1.5rem;
}

div {
  background: white;
  display: inline-block;
  margin-top: 10vh;
  width: 600px;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 2px 5px black;
}

.startGame-el {
  width: 130px;
  background-color: hsl(120, 41%, 45%);
  padding: 15px 0;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px black;
}

.red-el {
  background: red;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  margin: 10px;
}

.blue-el {
  background: blue;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  margin: 10px;
}

.green-el {
  background: green;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  margin: 10px;
}

.yellow-el {
  background: yellow;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  margin: 10px;
}
